$font-color:          #444444;
$border-color:        #E1E1E1;
$brand-color:         #DE401F;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: $font-color;
  background: whitesmoke;
}

.container {
  padding: 20px;
  text-align: center;
}

.navigation {
  text-align: center;

  > a {
    display: inline-block;
    width: 250px;
    padding: 40px;
    margin: 10px;
    border: 1px solid $border-color;
    color: $font-color;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: $brand-color;
      color: #ffffff;
      box-shadow: 1px 1px 2px darken($border-color, 5%);
    }
  }
}

.filter {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
    cursor: pointer;
    
    a {
      display: block;
      padding: 5px 8px;
      font-weight: bold;
      transition: all 0.3s ease;

      &.selected,
      &:hover {
        color: $brand-color;
      }
    }
  }
}

.users {
  select {
    width: 250px;
    height: 30px;
    font-size: 18px;
  }
}

.posts {
  list-style: none;
  padding: 0;

  .post {
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border: 1px solid $border-color;
    border-radius: 4px;
    text-align: left;

    .post__title {
      text-transform: capitalize;
    }

    .post__title > span {
      display: inline-block;
      margin-right: 10px;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      color: orange;
    }
  }
}