@font-face {
  font-family: 'FontAwesome';
  src: url("https://github.com/FortAwesome/Font-Awesome/blob/master/fonts/fontawesome-webfont.eot?raw=true");
  src: url("https://github.com/FortAwesome/Font-Awesome/blob/master/fonts/fontawesome-webfont.eot?raw=true") format("embedded-opentype"), url("https://github.com/FortAwesome/Font-Awesome/blob/master/fonts/fontawesome-webfont.woff2?raw=true") format("woff2"), url("https://github.com/FortAwesome/Font-Awesome/blob/master/fonts/fontawesome-webfont.woff?raw=true") format("woff"), url("https://github.com/FortAwesome/Font-Awesome/blob/master/fonts/fontawesome-webfont.ttf?raw=true") format("truetype"), url("https://github.com/FortAwesome/Font-Awesome/blob/master/fonts/fontawesome-webfont.svg?raw=true#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #444444;
  background: whitesmoke; }

.container {
  padding: 20px;
  text-align: center; }

.navigation {
  text-align: center; }
  .navigation > a {
    display: inline-block;
    width: 250px;
    padding: 40px;
    margin: 10px;
    border: 1px solid #E1E1E1;
    color: #444444;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease; }
    .navigation > a:hover {
      background-color: #DE401F;
      color: #ffffff;
      box-shadow: 1px 1px 2px #d4d4d4; }

.filter {
  list-style: none;
  padding: 0; }
  .filter li {
    display: inline-block;
    cursor: pointer; }
    .filter li a {
      display: block;
      padding: 5px 8px;
      font-weight: bold;
      transition: all 0.3s ease; }
      .filter li a.selected, .filter li a:hover {
        color: #DE401F; }

.users select {
  width: 250px;
  height: 30px;
  font-size: 18px; }

.posts {
  list-style: none;
  padding: 0; }
  .posts .post {
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    text-align: left; }
    .posts .post .post__title {
      text-transform: capitalize; }
    .posts .post .post__title > span {
      display: inline-block;
      margin-right: 10px;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      color: orange; }

.app__header {
  background-color: #ffffff;
  text-align: center; }
